@charset "UTF-8";
/* CSS Document */

/*************************************** dscript STYLE ***************************************/

/* Use this style sheet for highest dscript specific styling. */

/* !IMPORTS
/* !GLOBALS
/* !CUSTOM
/* --- !something

/******************************* !IMPORTS *******************************/
@import url("lab41.css");
@import url("lab41-light.css");

/******************************* !GLOBALS *******************************/

html, body {
    
    font-size: 100%;
    
}

hgroup {
    
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    height: 1em;
    padding: 60px;
    position: absolute;
    width: calc(100% - 120px);
    
}

h1 {
    
    font-size: 2em;
    text-align: center;
    
}

section h1 {
    
    bottom: 6em;
    font-size: 1em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    
}

/******************************* !CUSTOM *******************************/

sticky-nodes .node {
    
    cursor: pointer;
    fill: rgba(150, 149, 149, 0.7);
    
}

sticky-nodes .node:hover {
    
    fill: rgba(198, 8, 203, 0.7);
    
}

sticky-nodes .node.active {
    
    fill: rgb(198, 8, 203);
    
}

/* node text */
sticky-nodes text {
    
    font-size: 0.5em;
    font-weight: bold;
    pointer-events: none;
    text-anchor: middle;
    
}

/* svg position on slide */
.slide stacked-bar-chart svg {
    
    position: relative;
    top: -3px;
    
}

/* bar slice */
stacked-bar-chart .feature {
    
    cursor: pointer;
    
}

/* label */
stacked-bar-chart .label {
    
    font-size: 0.5em;
    text-anchor: middle;
    
}