@charset "UTF-8";
/* CSS Document */

/*************************************** LAB41 LIGHT STYLE ***************************************/

/* Use this style sheet for lab41 light styles. */

/* !IMPORTS
/* !GLOBALS
/* !CUSTOM
/* --- !something

/******************************* !IMPORTS *******************************/

/******************************* !GLOBALS *******************************/

body {
    
    background: rgb(212, 212, 212);
    color: rgb(35, 34, 34);
    
}

button {
    
    background: rgb(35, 34, 34);
    color: rgb(212, 212, 212);
    
}

/******************************* !CUSTOM *******************************/