<h1>Explanatory Visualizations</h1>
<p>All visualizations are a work-in-progress.</p>

<section>
	
	<article>
		
		<!-- VENN -->
		<venn-diagram viz-data="venn"
					  canvas-height="500"
					  canvas-width="960"
					  title="'Feature Relatedness'"></venn-diagram>
		
	</article>
	
	<article>
		
		<!-- PIE CHART -->
		<pie-chart viz-data="pie"
					  canvas-height="500"
					  canvas-width="500"
					  title="'Feature Breakdown'"></pie-chart>
		
	</article>

    <article>
        
		<!-- ADJACENT MATRIX -->
        <adjacent-matrix viz-data="nodelink"
                         canvas-height="500"
                         canvas-width="500"
						 title="'Author Relatedness'"></adjacent-matrix>
        
    </article>
	
	<article>
		
		<!-- STICKY NODES -->
		<sticky-nodes viz-data="nodelinkcluster"
					  canvas-height="400"
					  canvas-width="500"
					  title="'Sample Relatedness'"></sticky-nodes>
		
	</article>
    
</section>