<h1>Sample Relatedness</h1>

<button type="button"
        ng-disabled="isDisabled"
        ng-click="addNode('c')">Add nodes</button>

<section>
	
	<div>
        		
		<!-- STICKY NODES -->
		<sticky-nodes viz-data="nodes"
					  canvas-height="400"
					  canvas-width="500"
					  title="'Documents'"></sticky-nodes>
		
	</div>
    
    <div>
        
        <!-- IMAGE -->
        <div class="slider">
            
            <!-- MEDIA -->
            <div ng-repeat="detail in details"
                 class="slide slide-animation"
                 ng-hide="!isCurrentSlideIndex($index);"
                 style="background-image: url('{{ 'data/benchmarking/' + detail.id + '.png' }}')">
                
                <!-- STACKED BAR -->
                <stacked-bar-chart viz-data="detail.features"
                                   canvas-height="60"
                                   canvas-width="700"
                                   orientation="horizontal"
                                   title="'Feature Relevancy'"></stacked-bar-chart>
                
            </div>

        </div>
        
        <!-- NAV ARROWS -->
        <a class="arrow prev"
           ng-click="next();">
            <svg viewBox="0 0 100 58.5">
                <use xlink:href="assets/arrow-line-2.svg#artwork"></use>
            </svg>
        </a>

        <a class="arrow next"
           ng-click="previous();">
        <svg viewBox="0 0 100 58.5">
                <use xlink:href="assets/arrow-line-2.svg#artwork"></use>
            </svg>
        </a>

        <!-- NAV DOTS -->
        <nav class="nav">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot"
                        ng-repeat="detail in details">
                        <a ng-class="{ 'active' : isCurrentSlideIndex($index) }"
                           ng-click="setCurrentSlideIndex($index);">{{ $index }}</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    
</section>