<h1>Sample Relatedness</h1>

<button type="button"
        ng-disabled="isDisabled"
        ng-click="addNode('c')">New Document</button>

<button type="button"
        ng-disabled="details.length == 0"
        ng-click="toggleLayout(layout)">{{ layout }} Layout</button>

<section>
	
	<div>
        		
		<!-- STICKY NODES -->
		<sticky-nodes viz-data="nodes"
					  canvas-height="500"
					  canvas-width="500"
					  title="'Authors'"></sticky-nodes>
		
	</div>
    
    <div>
        
        <!-- IMAGE SLIDER -->
        <image-slider viz-data="details"
                      layout="layout"></image-slider>
        
    </div>
    
</section>